.navpage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
}
.navpage__menu{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navpage__menuItem{
    cursor: pointer;
    width: 98%;
    margin: 1rem 0;
    color: black;
}
.menuitem{
    text-decoration: none;
    color: black;
}
/*Responsive elements*/
@media only screen and (max-width: 600px) {
    .navpage__itemText{
        font-size: 3rem;
    }
    .navpage__closeBtn{
        display: inline-block;
        font-size: 2rem;
        border: 1px solid white;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        text-align: center;
        background-color: black;
        color: white;
    }
    .navpage__menuItem{
        -webkit-text-stroke: 1px white;
    }
}

@media only screen and (min-width: 600px) {
    .navpage__itemText{
        font-size: 5rem;
    }
    .navpage__closeBtn{
        display: inline-block;
        font-size: 4rem;
        border: 1px solid black;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        text-align: center;
        background-color: black;
        color: white;
    }
    .navpage__menuItem{
        -webkit-text-stroke: 1px white;
    }
}

@media only screen and (min-width: 768px) {
    .navpage__itemText{
        font-size: 7rem;
    }
    .navpage__menuItem{
        -webkit-text-stroke: 1px white;
    }
    .navpage__closeBtn{
        display: inline-block;
        font-size: 4rem;
        border: 1px solid black;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }
    .navpage__closeBtn:hover{
        background-color: black;
        color: white;
    }
    .navpage__itemText:hover{
        transform: scale(1.2);
    }
}

@media only screen and (min-width: 992px) {
    .navpage__itemText{
        display: inline-block;
        font-size: 10rem;
        transition: all 0.5s ease-in-out;
    }
    .navpage__itemText:hover{
        transform: scale(1.2);
    }
    .navpage__closeBtn{
        display: inline-block;
        font-size: 4rem;
        border: 1px solid black;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }
    .navpage__closeBtn:hover{
        background-color: white;
        color: black;
    }
    .navpage__menuItem{
        -webkit-text-stroke: 1px white;
    }
}

@media only screen and (min-width: 1200px) {
    .navpage__itemText{
        display: inline-block;
        font-size: 10rem;
        transition: all 0.5s ease-in-out;
    }
    .navpage__closeBtn{
        display: inline-block;
        font-size: 4rem;
        border: 1px solid black;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }
    .navpage__closeBtn:hover{
        background-color: white;
        color: black;
    }
    .navpage__itemText:hover{
        transform: scale(1.2);
    }
}