.projectlistitem {
    width: 60%;
    color: white;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    padding: 1rem;
    margin: 1rem;
}

.projectlistitem__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.projectlistitem__projectLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.projectlistitem__projectLinks a{
    color: rgb(230,238,9);
    text-decoration: none;
    margin: .5rem;
    border-bottom: 1px solid rgb(230,238,9);
}
.projectlistitem__projimage {
    vertical-align: middle;
    filter: grayscale(1.2);
    object-fit: cover;
}

.projectlistitem__projectTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    border-bottom: 1px solid gray;
}
.projectlistitem__projectDesc, .projectlistitem__projectTech{
    margin: 1rem 0;
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
}
.projectlistitem__data {
    text-align: left;
}

/*Responsive elements*/
@media only screen and (max-width: 600px) {.projectlistitem__projimage {
    width: 100%;
    height: 100%;
}}

@media only screen and (min-width: 600px) {.projectlistitem__projimage {
    width: 100%;
    height: 100%;
}}

@media only screen and (min-width: 768px) {.projectlistitem__projimage {
    width: 100%;
    height: 100%;
}}

@media only screen and (min-width: 992px) {.projectlistitem__projimage {
    width: 100%;
    height: 100%;
}
.projectlistitem__image {
    flex: 1;

    padding: 1rem;
}

.projectlistitem__data {
    flex: 1;
    /* background-color: aqua; */
}}

@media only screen and (min-width: 1200px) {
    .projectlistitem__image {
        flex: 1;

        padding: 1rem;
    }

    .projectlistitem__data {
        flex: 1;
        /* background-color: aqua; */
    }

    .projectlistitem__projimage {
        width: 100%;
        height: 100%;
    }
}