.navbar{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    padding: 1rem;
    align-items: normal;
}
.navbar__logo{
    flex-grow: 0.5;
    text-align: left;
    font-size: 3rem;
}
.navbar__menu{
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.25rem;
}
.navbar__line{
    background-color: white;
    margin: 0.2rem;
    height: 0.2rem;
    width: 100%;
    color: white;
    border-radius: 0.2rem;

}
.navbar__links{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    .navbar__logo{
        font-size: 2rem;
    }
    .navbar__menu{
        top: 1.5rem;
    }
}